In [15]:
import sqlite3
import pandas as pd
# Create your connection.
con=sqlite3.connect("SQLTasksTier1.sql")

data=pd.read_sql_query("SELECT * FROM FACILITIES",con)

DatabaseError: Execution failed on sql 'SELECT * FROM FACILITIES': no such table: FACILITIES

2.6.0
2. Query all tasks

OperationalError: no such table: FACILITIES